<%- include("./template/profileHeader.ejs") %> 
    <link rel="stylesheet" href="../css/profile.css">
</head>
<body>
    <nav class="bg-info">
        <a href="/">
            <div class="fs-4 fw-bold d-inline-block text-decoration-none">
                <img width="40px" class="rounded" src="../image/logo.jpg" alt="logo">
                <span class="text-dark">Demographics</span>
            </div>
        </a>
        <div class="auth-section">
            <% try { %> 
                <% if (typeof data == 'undefined') { %> 
                    <span>Guest</span>
                <% } else { %>
                    <span><%= data.role %></span>
                <% } %>  
            <div class="dropdown">
                <button class="btn btn-info dropdown-toggle" data-placement="left" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="../upload/<%= data.imageName %>" height="40px" width="40px" class="rounded-circle" alt="Profile_image">
                    <% } catch(e) { %> 
                        <div class="err-floating">⚠ Error occurred.</div>
                    <% } %>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <% if(typeof data == "undefined") { %> 
                        <li><a class="dropdown-item" href="/signup"><i class="fas fa-user-plus"></i> Sign Up</a></li>
                        <li><a class="dropdown-item" href="/login"><i class="fas fa-sign-in-alt"></i> Log In</a></li>
                    <% } else { %> 
                        <li><a class="dropdown-item" href="/"><i class="fas fa-sign-out-alt"></i> Sign Out</a></li>
                    <% } %> 
                </ul>
            </div>
        </div>
    </nav>
    <main class="container mt-5 d-flex justify-content-center">
        <div class="container">
            <div class="card">
                <% try { %> 
                    <% if (data.coverImage.length <= 0) { %> 
                        <div class="profile-div" title="Cover photo" style="background-image: url('../image/no_cover.png');">
                    <% } else { %> 
                        <div class="profile-div" title="Cover photo" style="background-image: url('../upload/<%= data.coverImage %>');">
                    <% } %> 
                            <a href="/profile/edit"><span class="cng-image cng-cover-image" title="Change cover photo"><i class="fas fa-camera"></i></span></a>
                            <img src="../upload/<%= data.imageName %>" title="Profile picture" class="card-img-top profile-img rounded-circle" alt="profile-image">
                            <a href="/profile/edit"><span class="cng-image cng-profile-image" title="Change profile picture"><i class="fas fa-camera"></i></span></a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title text-center"><%= data.username %></h5>
                            <p class="card-text text-center"><%= data.email %></p>
                        </div>
                <% } catch(e) { %> 
                    <p>necessary information not found: <%= e %> </p>
                <% } %> 
            </div>
            <!-- About section -->
            <div class="about-user">
                <!-- profile information -->
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <span>User Information</span>
                        <a href="/profile/edit"><span title="Edit"><i class="fas fa-pencil-alt"></i></span></a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title mb-4">Basic Information</h5>
                        <% if (typeof data != "undefined") { %> 
                            <p class="card-text">Username: <%= data.username %> </p>
                            <p class="card-text">Email: <%= data.email %> </p>
                            <p class="card-text">Role: <%= data.role %> </p>
                        <% } %> 
                    </div>
                </div>
                <!-- user bio -->
                <% if(typeof data != "undefined") { %>
                    <div class="card">
                        <div class="card-header d-flex justify-content-between">
                            <span>Bio</span>
                            <a href="/profile/edit"><span title="Edit"><i class="fas fa-pencil-alt"></i></span></a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title mb-4">About Me</h5>
                            <p class="card-text"><%= data.bio %> </p>
                        </div>
                    </div> 
                <% } %> 
            </div>
        </div>
    </main>
<%- include("./template/footer.ejs")  %> 